<div>
  <h4>Task component bound to '{{eventName}}'</h4>
</div>

<div class="commands">

  <textarea class="console" cols="50" rows="15" disabled [value]="messages"></textarea>

  <div class="commands__input">

    <button (click)="callApi()">button</button>

  </div>

</div>
