<div>
  <h3>SignalR w/ Angular 2 demo</h3>
</div>

<div>
  <span>Connection state: {{connectionState$ | async}}</span>
</div>

<div class="flex-row">
  <sd-task class="flex" [eventName]="'longTask.status'" [newChannel]="false" [apiUrl]="longTask"></sd-task>
  <sd-task class="flex" [eventName]="'shortTask.status'" [newChannel]="false" [apiUrl]="shortTask"></sd-task>
</div>

<div class="flex-row">
  <sd-task class="flex" [eventName]="'job.status'" [newChannel]="true" [apiUrl]="mediumJob"></sd-task>
</div>
